footer {
  box-sizing: border-box;
  padding: 2rem;
  background-color: var(--overlay-background-color);
  color: black;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}