@font-face {
    font-family: 'Le Monde Livre';
    src: url('./libre-baskerville-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Koning Display';
    src: url('./koho-bold.ttf') format('truetype');
}